<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row">
                <div class="col-6">
                    <div class="form-group"> 
                        <input type="email"
                            [(ngModel)]="letters"
                            class="form-control"
                            id="exampleInputEmail1" 
                            required
                            placeholder="Enter a Letter"> 
                    </div>
                </div>
                <div class="col-4">
                    <button 
                        type="button" 
                        class="btn btn-info" 
                        (click)="convertToNumber()" >Convert
                    </button>
                </div>
                <div class="col-md-2">
                    <p *ngIf="resultNumbers">Result: {{resultNumbers}}</p>
                    
                </div>
            </div>  
            <div class="row">
                <div class="col-6">
                    <div class="form-group"> 
                        <input type="email"
                            [(ngModel)]="numbers"
                            class="form-control"
                            id="exampleInputEmail1" 
                            required
                            placeholder="Enter a Number"> 
                    </div>
                </div>
                <div class="col-4">
                    <button 
                        type="button" 
                        class="btn btn-info" 
                        (click)="convertToLetter()" >Convert
                    </button>
                </div>
                <div class="col-md-2">
                    <p *ngIf="resultLetters">Result: {{resultLetters}}</p>
                    
                </div>
            </div>  
        </div>
    </div>
</div>

